.overflow-y-auto::-webkit-scrollbar-track,
.overflow-x-auto::-webkit-scrollbar-track {
  background: 'hsla(0,0%,100%,.24)';
}

.overflow-y-auto::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  background: 'hsla(0,0%,100%,.24)';
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #90C7FF;
  border-radius: 10px;
}
.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: rgb(253, 253, 253);
  border-radius: 10px;
}

.scroll-color::-webkit-scrollbar {
  width: 0.3rem;
}
.scroll-color::-webkit-scrollbar-thumb {
  background-color: rgb(144, 146, 146);
  border-radius: 10px;
}